In [95]:
import pandas as pd
import numpy as np
import datetime

In [96]:
df_main = pd.read_csv("bitcoin gold price.csv")
df_main.head()

,Date,BTC price [USD],Volume BTC,Gold price[USD],Oil WTI price[USD],SP500 close index,BTC n-transactions,M2(Not seasonally adjusted)[1e+09 USD],BTC google search interest
0,2014-12-01,370.0,0.06,1332.5,68.98,2053.44,79098.0,11747.9,3
1,2014-12-02,378.0,15.01,1314.7,66.99,2066.55,99419.0,11747.9,3
2,2014-12-03,378.0,0.55,1325.8,67.30,2074.33,99419.0,11747.9,3
3,2014-12-04,377.1,0.01,1324.2,66.73,2071.92,99419.0,11747.9,3
4,2014-12-05,377.1,0.00,1310.8,65.89,2075.37,90900.0,11747.9,3

In [97]:
df_main['Date'] = pd.to_datetime(df_main['Date'])

In [98]:
df_vix = pd.read_csv('vixcurrent.csv', header=1)
df_vix.head()

       Date  VIX Open  VIX High  VIX Low  VIX Close
0  1/2/2004     17.96     18.68    17.54      18.22
1  1/5/2004     18.45     18.49    17.44      17.49
2  1/6/2004     17.66     17.67    16.19      16.73
3  1/7/2004     16.72     16.75    15.50      15.50
4  1/8/2004     15.42     15.68    15.32      15.61

In [99]:
df_vix['Date'] = pd.to_datetime(df_vix['Date'])
df_vix.head()

        Date  VIX Open  VIX High  VIX Low  VIX Close
0 2004-01-02     17.96     18.68    17.54      18.22
1 2004-01-05     18.45     18.49    17.44      17.49
2 2004-01-06     17.66     17.67    16.19      16.73
3 2004-01-07     16.72     16.75    15.50      15.50
4 2004-01-08     15.42     15.68    15.32      15.61

In [100]:
df_vix = df_vix.drop(['VIX Open', 'VIX High', 'VIX Low'], axis=1)

In [101]:
df_vix.head()

        Date  VIX Close
0 2004-01-02      18.22
1 2004-01-05      17.49
2 2004-01-06      16.73
3 2004-01-07      15.50
4 2004-01-08      15.61

In [102]:
df_final = pd.merge(df_main, df_vix, how='left', on='Date')

In [103]:
df_final.head(5)

,Date,BTC price [USD],Volume BTC,Gold price[USD],Oil WTI price[USD],SP500 close index,BTC n-transactions,M2(Not seasonally adjusted)[1e+09 USD],BTC google search interest,VIX Close
0,2014-12-01,370.0,0.06,1332.5,68.98,2053.44,79098.0,11747.9,3,14.29
1,2014-12-02,378.0,15.01,1314.7,66.99,2066.55,99419.0,11747.9,3,12.85
2,2014-12-03,378.0,0.55,1325.8,67.30,2074.33,99419.0,11747.9,3,12.47
3,2014-12-04,377.1,0.01,1324.2,66.73,2071.92,99419.0,11747.9,3,12.38
4,2014-12-05,377.1,0.00,1310.8,65.89,2075.37,90900.0,11747.9,3,11.82

In [104]:
df_final.describe()

,BTC price [USD],Volume BTC,Gold price[USD],Oil WTI price[USD],SP500 close index,BTC n-transactions,M2(Not seasonally adjusted)[1e+09 USD],BTC google search interest,VIX Close
count,1980.000000,1980.000000,1980.000000,1980.000000,1980.000000,1980.000000,1980.000000,1980.000000,1365.000000
mean,4172.869449,11039.421273,1340.793672,51.936136,2479.467232,239391.428788,13633.964495,12.400505,16.412674
std,3995.565895,10345.035195,120.182162,10.935076,380.250433,80222.067654,1216.589678,14.797050,7.913542
min,120.000000,0.000000,1070.800000,-36.980000,1829.080000,59344.000000,11746.900000,2.000000,9.140000
25%,444.145000,5324.332500,1270.200000,46.162500,2102.310000,186979.000000,12697.400000,3.000000,12.390000
50%,3388.715000,7956.795000,1322.400000,52.130000,2459.205000,239809.000000,13646.100000,10.000000,14.280000
75%,7386.667500,13623.747500,1391.025000,58.765000,2791.735000,300111.000000,14411.400000,15.000000,17.660000
max,19650.000000,160540.990000,1768.900000,77.410000,3386.150000,439549.000000,17269.800000,100.000000,82.690000

In [105]:
df_final.isnull().sum()

Date                                        0
BTC price [USD]                             0
Volume BTC                                  0
Gold price[USD]                             0
Oil WTI price[USD]                          0
SP500 close index                           0
BTC n-transactions                          0
M2(Not seasonally adjusted)[1e+09 USD]      0
BTC google search interest                  0
VIX Close                                 615
dtype: int64

In [106]:
df_final.dropna(inplace=True)
df_final.reset_index(drop=True, inplace=True)

In [110]:
df_final.head(10)

,Date,BTC price [USD],Volume BTC,Gold price[USD],Oil WTI price[USD],SP500 close index,BTC n-transactions,BTC google search interest,VIX Close
0,2014-12-01,370.0,0.06,1332.5,68.98,2053.44,79098.0,3,14.29
1,2014-12-02,378.0,15.01,1314.7,66.99,2066.55,99419.0,3,12.85
2,2014-12-03,378.0,0.55,1325.8,67.30,2074.33,99419.0,3,12.47
3,2014-12-04,377.1,0.01,1324.2,66.73,2071.92,99419.0,3,12.38
4,2014-12-05,377.1,0.00,1310.8,65.89,2075.37,90900.0,3,11.82
5,2014-12-08,375.0,0.24,1314.4,63.13,2060.31,90746.0,3,14.21
6,2014-12-09,375.0,0.00,1350.2,63.74,2059.82,90746.0,3,14.89
7,2014-12-10,360.5,0.02,1345.5,60.99,2026.14,90746.0,3,18.53
8,2014-12-11,360.5,0.00,1342.3,60.01,2035.33,84005.0,3,20.08
9,2014-12-12,350.0,3.15,1333.5,57.81,2002.33,84005.0,3,21.08

In [109]:
df_final = df_final.drop(['M2(Not seasonally adjusted)[1e+09 USD]'], axis=1)

In [111]:
df_final.to_csv('final_dataset.csv')